# Dart dependencies and lockfile.
# https://dart.dev/guides/libraries/private-files
.dart_tool/
pubspec.lock

# Platform specified files.
.DS_Store

# Code editor setting files.
.atom/
.idea/
.fleet/
*.iml
*.ipr
*.iws
*.sln
*.swp
